<!DOCTYPE html>
<html lang="en">

<head>
    <title>API   Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <center>
            <h2>Here your API</h2>
        </center>
        <center>
            <h4>You can Update API CALL </h4>
        </center>
       
          <!--   <table class="table table-bordered">

                <tbody>
                    {% for r in total %}
                    <tr>
                        <td>{{ r.name }}</td>
                        <td>{{r.b_id }}</td>
                    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        -->
    </div>

</body>

</html>